<div class="menu">
    <div class="top">
        <div class='logo'><h2>Parkup</h2></div>
        <div class="click">
            <div class="open"><ul><li></li><li></li><li></li></ul></div>
            <div class="exit">X</div>    
        </div>
    </div>
    <div class="dropdown">
        <ul>
            <li class='inactive'><%= link_to 'All', root_path %></li>
            <li class='inactive'><%= link_to 'News', news_path %></li>
            <li class='inactive'><%= link_to 'Rumors', rumors_path %></li>
            <li class='inactive'><%= link_to 'Discussion', discussion_path %></li>
            <li class='inactive'><%= link_to 'Podcasts', '#' %></li>
            <li class='inactive'><%= link_to 'Blogs', '#' %></li>
            <li class='inactive'><%= link_to 'Forums', '#' %></li>
        </ul>
    </div>
</div>
<div class="bottom">
    <div class="contain">
        <% if logged_in? %>    
            <%= link_to 'Log Out', logout_path, method: :delete, class: 'log' %>
            <%= link_to 'Profile', current_user, class: 'sign' %>
        <% else %>
            <%= link_to 'Log In', login_path, class: 'log' %>
            <%= link_to 'Sign Up', new_user_path, class: 'sign' %>
        <% end %>
        <%= link_to '+', new_post_path, class:'postSmall' %>
        <%= link_to '+ New Post', new_post_path, class: 'post' %>
    </div>
</div>

<script>
    
    $dropdown = $('.dropdown');
    $open = $('.open');
    $close = $('.exit');
    $bottom = $('.bottom');
    $window = $(window);
    
    $open.on('click', function() {
        $dropdown.slideDown(200);
        $open.hide();
        $close.show();
    })
    
    $close.on('click', function() {
        $dropdown.slideUp(200);
        $close.hide();
        $open.show();
    })
    
    $window.on('resize', function() {
        if($window.width() > 765) {
            $dropdown.show();
            $close.hide();
            $open.hide();
        }
        else {
            $dropdown.hide();
            $open.show();
        }
    })
    
</script>